__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
.venv/
env/
.env/
ENV/
env.bak/
.venv.bak/
opt/
opt/venv/

*.env
.env.*
!.env.example
node_modules/
dist/
build/
.vscode/

.DS_Store

*.log
data/
*.so
.chainlit/
uploads/
media/

.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.ipynb_checkpoints/

**/data/
docker-compose.override.yml

mongo_data/
